<li ng-class="{true: 'active'}[selectedItem.name == 'webmeterReport']" ng-click="">
  <a id="webmeterReport" href="#/webmeter/report/"><i class="fa fa-lg fa-fw fa-bar-chart"></i>Report</a>
</li>

<li ng-class="{true: 'active'}[selectedItem.name == 'webmeterPlan']" ng-click="">
  <a id="webmeterPlan" href="#/webmeter/plan"><i class="fa fa-lg fa-fw fa-tachometer"></i>Test Plan</a>
</li>

<li ng-class="{true: 'active'}[selectedItem.name == 'webmeterHost']" ng-click="">
  <a id="webmeterHost" href="#/webmeter/host"><i class="fa fa-lg fa-fw fa-desktop"></i>Host</a>
</li>
